/*************/
/** GENERAL **/
/*************/

/*
font-family: 'Barlow', sans-serif;
font-family: 'Saira', sans-serif;

*/

html {
  line-height: 1.2em;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

body {
  background-color: #202020;
  color:#dfdfdf;
  font-size: 1em; /* 16px */
  padding-bottom: 2.618em; /* 41.887px */
}

header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 1.618em; /* 25.888px */
  background-color: #1b1b1b;
  color: #f0f0f0;
}

#company_title {
  font-size: 4.236em; /* 67.773px */
  font-family: 'Saira', sans-serif;
  margin-bottom: 0.236em; /* 3.777px */
}

#tagline {
  font-size: 2.618em; /* 41.887px */
  color:#f7e9e2;
}

h1 {
  font-size: 1.618em; /* 25.888px */
  text-align: center;
  margin: 1em; /* 16px */
}

footer p {
  text-align: center;
}

/**********/
/** FORM **/
/**********/

#form_section {
  width:100%;
  margin:auto;
  font-size: 1.618em; /* 25.888px */
}

input {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 95%;
  margin-top: 1em; /* 16px */
  padding: .6em;
  background-color: #313131;
  color: #dfdfdf;
  font-size: 1em; /* 16px */
  border: none;
  border-radius: 0 0.382em 0.382em 0; /* 6.112px 6.112px */
  -webkit-appearance: none;
}

input[type=text]:focus,[type=date]:focus,[type=tel]:focus {
  outline: none;
  border: 0.056em solid #515670; /* 0.892px */
  border-left: 0.236em solid #dfdfdf; /* 3.777px */
  box-shadow: 0 0 0.236em #dfdfdf; /* 3.777px */
}

#submit_button {
  width:75%;
  margin-top: 1.618em; /* 25.888px */
  border-radius: 0.382em; /* 6.112px */
  background-color: #c4c4c4;
  color:#000000;
  font-family: 'Barlow', sans-serif;
  -webkit-appearance: none;
}

#submit_button:hover {
  background-color: #ffffff;
}

label {
  display: block;
  box-sizing: border-box;
  margin:auto;
  width: 95%;
  margin-top: 1em; /* 16px */
  font-size: 1em; /* 16px */
}


::selection {
  background-color: #8994c2;
  color: #fff;
}

::-moz-selection {
  background-color: #8994c2;
  color: #fff;
}

::-o-selection {
  background-color: #8994c2;
  color: #fff;
}

::-ms-selection {
  background-color: #8994c2;
  color: #fff;
}

::-webkit-selection {
  background-color: #8994c2;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 0.618em; /* 9.889px */
  }

  #form_section {
    width:75%;
  }

  input {
    width:100%;
  }

  label {
    width:100%;
  }

  #submit_button {
    width:50%;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 0.618em; /* 9.889px */
  }

  input {
    width: 17.942em; /* 287.072px */
  }

  label {
    width: 11.089em; /* 177.424px */
    float:left;
  }

  #submit_button {
    width: 11.089em; /* 177.424px */
  }
}
